    .btnEdit{
        color:black;
    }
    .deleteAccount,.deleteSupplier,.delete{
        color:red;
    }
    .view{
        color:darkslateblue;
    }
    .restoreTrash,.edit,.btnComplete{
        color:darkblue
    }

    .rectangle {
  height: 30px;
  width: 100px;
  background-color: rgb(25, 47, 84);
}
.suppDetails{
    font-size:25px;
}
.statusSwitch{
    margin-left: 20px;

}
/* switch */
.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2.5rem + 0.75rem);
  border-radius: 3rem;
  border-color: red;
   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: red;
    border-color: #30D158;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
 table.stockTable{
        width: 100%;
        border-collapse: collapse;
        }
        table.stockTable th {
        border:2px #000000;
        border-collapse:collapse;
        border-style: dashed none;
        }
        .table.stockTable td,.table.stockTable th {
        padding:12px 15px;
        border:2px #000000;
        border-collapse:collapse;
        border-style: dashed none ;
        text-align: center;
        font-size:16px;
        }

.badge-mine {
   color: #212529;
   background-color: #808080;
}

