    .btnEdit{
        color:black;
    }
    .deleteAccount,.deleteSupplier,.delete{
        color:red;
    }
    .view{
        color:darkslateblue;
    }
    .restoreTrash,.edit,.btnComplete{
        color:darkblue
    }

    .rectangle {
  height: 30px;
  width: 100px;
  background-color: rgb(25, 47, 84);
}
.suppDetails{
    font-size:25px;
}
