    .btnEdit{
        color:black;
    }
    .deleteAccount,.deleteSupplier{
        color:red;
    }
    .view{
        color:darkslateblue;
    }
    .restoreTrash{
        color:darkblue
    }
    